/**
* Accordeon
*/
.accordeon{
    display: flex;
}

details {
    /* fermé et ouvert */
    position: relative;
    width: 130px;
    transition: width 2s;
}

details>div {
    padding-left: 130px;
    width: 170px;
}

details[open] {
    /* ouvert */
    overflow: clip;
    width: 300px;
}

details>summary {
    position: absolute;
    top: 0;
    left: 0;
}
